<div class="container">
  <div class="row mb-3">
    <div class="col">
      <%= text_field_tag :search, "", id: 'search', class: 'fa pl-2 py-2 w-100', style: 'border-radius: 0.25rem;', placeholder: "\uF002 お店の名前" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <ul id="search-predictions" class="list-group list-group-flush">
        </ul>
      </div>
    </div>
  </div>

</div>