<%= text_field_tag :search, "", id: 'search', class: 'fa mr-1 pl-2 py-2', style: 'border-radius: 0.25rem;', placeholder: "\uF002 お店の名前" %>
<div class="container">
  <ul id="stores" class="row">
  </ul>
</div>